.main-field {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: aqua;
    padding: 16px;
    border-radius: 4px;
}

.title-text {
    display: block;
    font-weight: bold;
    font-size: 15pt;
    margin-block-start: 0em;
    margin-block-end: 0.7em;
}

.instruc-text {
    display: block;
    font-weight: bold;
    font-size: 13pt;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

.hiworks-text {
    display: block;
    font-weight: bold;
    font-size: 12pt;
    margin-block-start: 1em;
    margin-block-end: 0.3em;
}

.normal-text {
    font-size: 12pt;
}

.small-text {
    font-size: 11pt;
}

.conv-button {
    background-color: green;
    color: white;
}

.rvrs-button {
    background-color: blue;
    color: white;
}

.rset-button {
    background-color: red;
    color: white;
}

.conv-button:hover {
    background-color: limegreen;
    color: white;
}

.rvrs-button:hover {
    background-color: dodgerblue;
    color: white;
}

.rset-button:hover {
    background-color: tomato;
    color: white;
}

.conv-button:active {
    background-color: darkgreen;
    color: gray;
}

.rvrs-button:active {
    background-color: darkblue;
    color: gray;
}

.rset-button:active {
    background-color: darkred;
    color: gray;
}
